/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-sep-2015, 8:51:12
    Author     : sven.croon
*/

body {
    color: black;
    background-color: grey;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

h6 {
    display: none;    
}
    
a, a:hover, a:active, a:visited {
    text-decoration: none;
}

main {
    outline-color: black;
    outline-style: ridge;
    outline-width: thin;
}