/*

vdab_layout 
startbestand

*/


/****algemeen****/
div {
	margin:0;
	padding:0;
	}
body {
	background: #FFF;
	color: #000;
	font: small Arial, sans-serif;
	width:100%;
}
a img {
	border: 0;
}
ul {
	margin: 0;
	padding: 1em;
}

/****header****/
header {
	background: url(../../img/top.gif) repeat-x scroll left top white;
	border-width: 1px 0;
	margin: 10px 0 30px 0 ;
	position: relative;
	padding:0;
	height:101px;
}
#logo{
	float:left;	
	padding:0;
}
header ul {
	margin: 0.5em;
	padding: 0;
	list-style: none;
}
header li {
	display: inline;
	margin: 0 1em;
}
header a {
	text-decoration: none;
}
header nav {
	float:right;
}
header form {
	float:right;
	clear:right;
	margin-top:2em;
	font-size: 0.9em;
}
header form fieldset {
	border: 0;
}
header form legend {
	display: none;
}
header hgroup{
	margin-left:1em;
	color:navy;
	font-style:italic;
	}
header h1{font-size:1.5em;margin:0.4em 0; line-height:1.5em;}
header h2{font-size:1.4em;margin:0.4em 0; line-height:1.2em;}
header h3{font-size:1.1em;margin:0.2em 0; line-height:1.2em;}

/****container class****/

.container  {}
.container h1 {color:gray;	}

/****aside, kolommen****/

aside 	{}
.kol 	{}
.twee	{}
.drie	{}

/****footer****/
footer {
	clear: both;
	padding: 1em 3em 0;
	border-top: 1px solid silver;
	text-align: center;
}
footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
footer li {
	display: inline;
	margin: 0 1em;
}
footer p {
	font-size: smaller;
}

div, aside, header, footer {
  outline: 1px dashed red;
}

