/*
vdab_layout 
startbestand
*/

/****algemeen****/
div {
	margin: 0;
	padding: 0;}

body {
	background: #FFF;
	color: #000;
	font: small Arial, sans-serif;
	width: 100%;}

a img {
	border: 0;}

ul {
	margin: 0;
	padding: 1em;}

/****header****/
header {
	background: url(/../img/top.gif) repeat-x scroll left top white;
	border-width: 1px 0;
	margin: 10px 0 30px 0 ;
	position: relative;
	padding: 0;
	height: 101px;}

#logo {
	float: left;
  margin: 0 0 0 -120px;
	padding: 0;}

header ul {
	margin: 0.5em;
	padding: 0;
	list-style: none;}

header li {
	display: inline;
	margin: 0 1em;}

header a {
	text-decoration: none;}

header nav {
	float: right;}

header form {
	float: right;
	clear: right;
	margin-top: 2em;
	font-size: 0.9em;}

header form fieldset {
	border: 0;}

header form legend {
	display: none;}

header hgroup {
	margin-left: 1em;
	color: navy;
	font-style: italic;}

header h1 {
  font-size: 1.5em;
  margin: 0.4em 0;
  line-height: 1.5em;}

header h2 {
  font-size: 1.4em;
  margin: 0.4em 0;
  line-height: 1.2em;}

header h3 {
  font-size: 1.1em;
  margin:0.2em 0;
  line-height:1.2em;}

/****container class****/
.container {
  width: 960px;
  margin: 0 auto;}

#inhoud {
  background-color: #F2F8F9;}

.container h1 {
  color: gray;}

/****aside, kolommen****/
aside, .kol {
  float: left;
  width: 300px;
  padding: 4px;
  border-right: 2px solid #E4F0F3;
  margin-right: 12px;}

.kol:last-child {
  margin-right: 0;
  border-right: 0px;}

.twee	{
  }

.drie	{
  }

/****footer****/
footer {
	clear: both;
	padding: 1em 3em 0;
	border-top: 1px solid silver;
	text-align: center;}

footer ul {
	margin: 0;
	padding: 0;
	list-style: none;}

footer li {
	display: inline;
	margin: 0 1em;}

footer p {
	font-size: smaller;}



div, aside, header, footer {
  outline: 1px dashed red;}


/**
 **ClearFix hack**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
    visibility: hidden;
}

.cf:after {
    clear: both;
}