/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-mei-2016, 13:30:02
    Author     : sven.croon
*/

body {
	background-color:white;
	font-family:Arial, Helvetica, sans-serif
}
aside {
	float:left;
	width:210px;
	height:600Px;
	background-color:#FFFFCC;
	padding: 2em 0 1em 0.4em;
	border:1px groove silver;
	border-radius:1em;
}
article {
	padding:1em;
	background-color:white;
	width:auto;
	min-width:700px;
	margin-left:230px;
	border:1px groove silver;
	border-radius:1em;
}
footer {
	border:1px groove silver;
	border-radius:1em;
	margin:1em 0 0 230px;
	padding:1em;
	text-align:center;
}
footer img {
	border:none;
}
dl {
	margin-left: 50px
}
dt {
	font-weight:bold;
	padding-left:23px;
	margin-top: 6px;
	margin-bottom: 6px;
	background-image:url(../images/question.gif);
	background-repeat:no-repeat;
	background-position: 0px 0px;
}
dd {
	padding-left:18px;
	background-image:url(../images/hand.gif);
	background-repeat:no-repeat;
	background-position:  0px 5px;
}
.screenshot {
	margin-top:20px;
	margin-bottom:20px;
    display: block;
}
div.toggle {
	margin:10px 0 0 50px;
}