@charset 'utf8';

//  file    :   css/pizzapotente.css
//  author  :   sven.croon

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0;
}

.home {
    background: url('../images/pizza_restaurant.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

table {
    width: 23vw;
    background: rgba(79, 79, 79, 0.9);
    border: 1px solid black;
    border-radius: 0.25em;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 1.5vmin;
    padding: 0.5vmin;
    margin: 0;
}

tr th:first-child,
tr td:first-child {
    width: 13vw;
    border-left: none;
}

tr th:nth-child(2),
tr td:nth-child(2) {
    width: 2.5vw;
}

tr th:nth-child(3),
tr td:nth-child(3) {
    width: 4.5vw;
}

tr th:nth-child(4),
tr td:nth-child(4) {
    width: 3vw;
    border-right: none;
    padding: 0;
}

.thick_border_top {
    border-top: 2px solid black;
}

td a {
    text-align: center;
}

table tr:last-child,
th {
    background: rgba(50, 50, 50, 0.5);
}

.smallcaps {
    font-variant: small-caps;
}

a {
    text-decoration: none;
    color: black;
}

.linkButton {
    height: 4vh;
    line-height: 4vh;
    padding: 0 1vw;
    display: block;
    margin: 0 0 1vh 0;
    font-size: 1.9vmin;
}

.pageTitle {
    margin: 0;
    width: 60vw;
    margin-left: 20vw;
    text-align: center;
    font-size: 15vmin;
    color: rgb(59, 49, 39);
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff
}

.sepia {
    background: url(../images/pizza_restaurant_sepia.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.menuBar {
    background-color: rgba(179, 179, 179, 0.6);
    height: 10vh;
    min-width: 100vw;
}

.about {
    position: fixed;
    width: 40vw;
    height: 60vh;
    margin-left: 5vw;
    margin-top: 2.5vh;
    outline: 1px solid black;
    background-color: rgba(79, 79, 79, 0.9);
    padding: 2.5vh 2.5vw;
}

.login {
    position: fixed;
    width: 60vw;
    height: 60vh;
    margin-left: 20vw;
    margin-top: 2.5vh;
    outline: 1px solid black;
    background-color: rgba(79, 79, 79, 0.9);
    padding: 2.5vh 1vw;
}

.login h2 {
    text-align: center;
    margin-top: 0;
    padding-bottom: 2vh;
    border-bottom: 1px solid black;
    color: rgb(179, 179, 179);
}

.login_left {
    float: left;
    clear: left;
    width: 29vw;
}


.linkButton:hover a {
    color: rgb(180, 140, 100);
}

.login_right {
    float: left;
    width: 29vw;
}

.login_right label {
    display: block;
    float: left;
    clear: left;
    width: 6vw;
    height: 5vh;
    line-height: 4vh;
    font-size: 1.9vmin;
}
.login_right input,
.login_right select {
    box-sizing: border-box;
    display: block;
    float: right;
    width: 23vw;
    padding-left: 1vw;
    background-color: rgb(179, 179, 179);
    border-color: rgb(150, 150, 150);
    height: 4vh;
    font-size: 1.8vmin;
    background-color: transparent;
}

#housenumber, #postalcode {
    width: 8vw;
    float: left;
}

#submit {
    height: 5vh;
    line-height: 4.5vh;
    margin-top: 5vh;
    font-size: 3vmin;
    font-weight: bold;
    text-align: center;
    border-radius: 0.25em;
    background-color: rgba(79, 79, 79, 0.70);
}

#map {
    position: fixed;
    width: 40vw;
    height: 65vh;
    margin-left: 55vw;
    margin-top: 2.5vh;
    outline: 1px solid black;
    background-color: rgba(79, 79, 79, 0.9);
    padding: 0;    
}

.about > p {
    height: 5vh;
    font-size: 2vmin;
    color: rgb(170, 179, 179);
}

.menuBar > a {
    display: block;
    float: left;
    margin-top: 2.25vh;
    width: 30vw;
    font-size: 5vmin;
    color: rgb(59, 49, 39);
    text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.menuBar > a:first-child {
    margin-left: 5vw;
}

.menuBar > a:nth-child(2) {
    text-align: center;
}

.menuBar > a:last-child {
    text-align: right;
    margin-right: 5vw;
}

.menuBar > a:hover {
  color: rgb(180, 140, 100);
}

.emptyspace {
    height: 20vh;
}

.obscure {
    color: rgba(50, 50, 50, 0.5);
}

input::-webkit-input-placeholder {
    color: rgba(179, 179, 179, 0.5);
}

#defaultoption {
    color: rgba(179, 179, 179, 0.5);
}
.signature {
  width: 15vw;
}

.loginstatus {
    position: absolute;
    z-index: 10;
    top: 4vh;
    right: 5vw;
    padding: 2vmin;
    text-align: right;
    border: 1px solid whitesmoke;
    border-radius: 5vmin;
    color: rgb(229, 229, 229);
    font-size: 1.5vmin;
}
.logoutbutton {
    display: block;
    position: fixed;
    z-index: 10;
    left: 5vw;
    top: 4vh;
    width: 5vw;
}

#logout {
    height: 8vh;
    width: 8vh;
}

#logout_text {
    display: box;
    position: fixed;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    top: 11vh;
    width: 8vh;
    color: rgb(29, 29, 29);
}
.browseproducts {
    position: fixed;
    margin-left: 5vw;
    margin-top: 2.5vh;
    width: 66vw;
    max-height: 65vh;
    outline: 1px solid black;
    background: rgba(79, 79, 79, 0.9);
    overflow-y: scroll;
}

.shoppingcart {
    position: fixed;
    margin-top: 2.5vh;
    margin-left: 72vw;
    width: 23vw;
    max-height: 65vh;
}

.remarks {
    box-sizing: border-box;
    display: block;
    width: 23vw;
    min-height: 10vh;
    margin: 0;
    margin-top: 1vh;
    padding: 0.5em;
    background: rgba(79, 79, 79, 0.8);
    // outline: 1px solid black;
}
.delivery_address,
.message {
    width: 23vw;
    background: rgba(79, 79, 79, 0.8);
    margin-top: 2.5vh;
    border: 1px solid black;
    border-radius: 0.25em;
    padding: 0.25em;
}

table caption {
    background-color: rgb(59, 49, 39);
    font-size: 2vmin;
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid black;
    border-bottom: none;
}

caption > h2 {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    font-variant: small-caps;
}

.shoppingcart table tr:last-child td {
    border-bottom: none;
}

.pizzabox {
    position: relative;
    top: 0;
    left: 0;
    float: left;
    margin-left: 1vw;
    margin-top: 2vh;
    margin-bottom: 5.5vh;
    width: 15vw;
    height: 15vh;
    outline: 1px solid black;
}

.pizzabox:last-child {
    margin-bottom: 7.5vh;
}

.pizza {
    position: relative;
    top: 0;
    left: 0;
    width: 15vw;
    height: 15vh;
}

.showdata {
    float: left;
    width: 9vw;
}

.pizzaname,
.pizzaprice {
    float: left;
    clear: both;
    margin-top: 0.4vh;
    margin-left: 0.5vw;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.6vmin;
}

.pizzaprice {
    margin-bottom: 0.4vh;
}

.pizzaorderbox {
    width: 15vw;
    height: 5vh;
    outline: 1px solid black;
}

.orderpizza {
    float: right;
    width: 5vw;   
}

.orderpizza input {
    float: right;
    width: 5vw;
    margin: 0;
    padding: 0;
    border: none;
    height: 2.5vh;
}

.orderpizza input:nth-child(5) {
    background-color: rgb(180, 140, 100);
}

input[type=number] {
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
    opacity: 1;
}

.orderButton {
    background-color: rgb(59, 49, 39);
    margin-top: 2vh;
    width: 23vw;
    height: 5vh;
    border: 1px solid black;
    border-radius: 0.25em;
    font-size: 2.5vmin;
    font-variant: small-caps;
    font-weight: bold;
    color: ivory;
}

#shoppingcartcaption {
    background-color: rgb(59, 49, 39);
    font-size: 2.5vmin;
    font-variant: small-caps;
    font-weight: bold;
    color: ivory;   
}

.tablenumber {
    text-align: right;
    padding-right: 1vw;
}

::-webkit-scrollbar { 
    display: none; 
}

.cancel {
    font-size: 2vmin;
    text-align: center;
}

.discountBanner {
    position: fixed;
    margin-top: -9vh;
    margin-left: 18vw;
    transform: rotate(-10deg);
    background: yellow;
    font-weight: bold;
    font-size: 2.5vmin;
    border: 3px dashed red;
}
