/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-mei-2016, 9:14:45
    Author     : sven.croon
*/

#output {
	background-color:#F5F5F5;
	padding: 1em;
	width: 34em;
}
form {
	background-color: silver;
	width: 34em;
	padding: 1em;
}
form input[type=text], form select, button {
	width: 14em;
}
form label {
	display: inline-block;
	text-align: right;
	width: 4em;
	padding: 0.3em 1em;
}
label.msg {
	width: auto;
	text-align: left;
}
div.persoon{
	border:3px solid white;
	margin:0.6em;
	width:96%;
	background-color:#F5F5F5;
}
div.persoon span{
	display:inline-block;
	margin:0;
	padding:2px;
	vertical-align: top;
}
span.prop{
	background-color:#6699FF;
	width:36%;	
}
span.val{
	clear:right;
	background-color:#C5C5EF;
	width:61%;
}
button.like{
	background:transparent url(../images/like.png) no-repeat top left;
	padding-left: 20px;
	width: 50px;
}