/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.

    Created on : 20-mei-2016, 13:59:31
    Author     : sven.croon
*/

em {
	font-style:normal;
	font-weight:bold;
	color:#906;
}
img {
	float:left
}
h3 {
	clear:both;
}
#tagContainer {
	position:relative;
	background-color:#CFF;
	margin:1em;
	padding:0;
	width: 500px;
	height:400px;
	overflow:hidden;
	border:2px solid silver;
}
span.tag {
	position:absolute;
    outline: 1px solid red;
	top:0;
	left:0;
}