@charset 'utf-8';
/*******************************************************************************
 * Created on :         22-okt-2015, 14:09:36
 * latest modification: 25-05-2016
 * Author     : sven.croon
 ******************************************************************************/

/*******************************************************************************
 * DEFAULT (MOBILE) LAYOUT => all window sizes
 ******************************************************************************/
html, body {
    min-height: 100vh;
    background-color: black;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: white;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    /* outline: 1px solid red; */
}
*:focus {
    outline: none;
}
ul {
    list-style-type: none;
}
h1, h2, h3 {
    display: none;
}
em {
    font-weight: bold;
    color: rgb(190,150,100);    
}
/******************************************************************************/
/****** WIDTH > 480px => for all windows bigger than smartphone size **********/
/******************************************************************************/
@media screen and (min-width: 481px) {
    /**************************************************************************/
    /* animations *************************************************************/
    /**************************************************************************/
    @keyframes move-from-left {
        from {left: -25vw;}
        to {left: 0vw;}
    }
    @keyframes move-from-right {
        from {right: 25vw;}
        to {right: 0vw;}
    }
    @keyframes fade-in {
        from {opacity: 0;}
        to {opacity: 1;}
    }
    @keyframes pulse {
        0%   {text-shadow: none;}
        50%  {text-shadow: 0px 0px 0.5em rgba(255, 255, 255, 1);}
        100% {text-shadow: none;}
    }
    /**************************************************************************/
    /* general layout *********************************************************/
    /**************************************************************************/
    body {
        background-image: url(../img/atoms.jpg);
        background-size: cover;
        background-position: center;
        animation-name: fade-in;
        animation-duration: 2s;
        animation-timing-function: ease-in;
    }
    /**************************************************************************/
    /* header (titlebar) ******************************************************/
    /**************************************************************************/
    header {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10vh;
        font-size: 5vh;   
        background-color: rgba(27, 27, 27, 0.8);
        box-shadow: 0 0.5vh 2vh 1vh rgba(0, 0, 0, 0.8);
    }
    header * {
        font-family: 'Lora', serif;
    }
    header article,
    .headerlink {
        position: fixed;
        top: 0;
        height: 10vh;
        line-height: 10vh;
    }
    header article {
        left: 30vw;
        width: 40vw;
    }
    header article p {
        color: rgb(190,150,100);        
        text-align: center;
    }
    header article p:nth-of-type(1) {
        font-size: 6vh;
        height: 6vh;
        line-height: 6vh;
    }
    header article p:nth-of-type(2) {
        font-size: 3vh;
        height: 4vh;
        line-height: 4vh;
    }
    .headerlink {
        width: 30vw;
    }
    .headerlink > a {
        animation-name: pulse;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 2;
    }
    .hlhome {
        padding-left: 5vw;
    }
    .hlwork {
        left: 70vw;
        padding-right: 5vw;
        text-align: right;
    }
    /**************************************************************************/
    /* hover and active styles for all links in header and coordinates ********/
    /**************************************************************************/
    header a:hover,
    .coordinates a:hover,
    #coordinates_trigger + label:hover {
        text-shadow: 0px 0px 0.5em rgba(255, 255, 255, 0.8);
        transition: all 0.4s;
    }
    header a:active,
    .coordinates a:active {
        color: rgba(0,0,0,0);
    }
    /**************************************************************************/
    /* where and when to show drop-down menus *********************************/
    /**************************************************************************/
    .dropdownmenu {
        visibility: hidden;
        position: fixed;
        top: 10vh;
        width: 20vw;
        font-size: 2vh;
        line-height: 6vh; 
        list-style-type: none;
        background-color: rgba(27, 27, 27, 0.8);
        box-shadow: 0 0.5vh 2vh 1vh rgba(0, 0, 0, 0.8);
    }
    .dropdownmenu a {
        display: block;
        border-bottom: 2px solid black;
    }
    .headerlink:hover .dropdownmenu {
        visibility: visible;
    }
    #menu_athome {
        left: 0;
    }
    #menu_athome a {
        padding-left: 5vw;
    }
    .dropdownmenu li:hover {
        background-color: rgba(81, 81, 81, 0.8);
        transition: all 0.4s;
    }
    #menu_atwork {
        right: 0;
    }
    #menu_atwork a {
        text-align: right;
        padding-right: 5vw;
    }
    /**************************************************************************/
    /* when to show which centerpage ******************************************/
    /**************************************************************************/
    .centerpage {
        display: none;
    }
    #default {
        display: block;
    }
    :target {
        display: block;
    }
    :target ~ #default {
        display: none;
    }
    /**************************************************************************/
    /* centerpages ************************************************************/
    /**************************************************************************/
    .centerpage {
        position: fixed;
        top: 13vh;
        left: 22vw;
        width: 56vw;
        height: 73vh;
        background-color: rgba(10, 20, 30, 0.5);
        box-shadow: 0 0vh 2vh 0.5vh rgba(200, 200, 200, 0.8);
        border-radius: 1em;
        padding: 2vmax;
        font-size: 1.5vh;
        overflow: hidden;
    }
    .centerpage p {
        padding-bottom: 2vh;
    }
    .centerpage_heading {
        border-bottom: 1px solid silver;
        margin-bottom: 3vh;
    }
    .inline-link {
        color: rgb(190,150,100);
    }    
    .inline-link:hover {
        color: rgb(210,170,100);
    }
    #atwork_cv {
    	padding: 0;
    }
    #show_cv {
    	width: 56vw;
        height: 73vh;
        border-radius: 1em;
	}
/*  for future reference - videos to cover centerpage
    video {
        object-fit: cover;
        width: 56vw;
        max-height: 73vh;
    }
*/
    #show_cv div {
        padding: 1em;
    }
    #atwork_portfolio {
        padding: 0;
    }
    .portfolio_thumbs {
        width: 28vw;
        border: 0;
        border-radius: 1em 0 0 0;
    }
    /**************************************************************************/
    /* linkbuttons ************************************************************/
    /**************************************************************************/
    .linkbutton {
        display: block;
        float: left;
        height: 10vh;
        width: calc((56vw - 4vmax) / 4);
        margin-bottom: 5vh;
        text-align: center;
        font-size: 1em;
        /* outline: 1px solid red; */
    }
    .linkbutton > img {
        height: 100%;
        width: auto;
        text-align: center;
        transition-property: transform;
        transition-duration: 2s;
        /* outline: 1px solid blue; */
    }
    .linkbutton:hover > img {
        transform: rotate(360deg);
    }
    /**************************************************************************/
    /* coordinates ************************************************************/
    /**************************************************************************/
    #coordinates_trigger {
        visibility: hidden;
    }
    #coordinates_trigger + label {
        position: fixed;
        z-index: 10;
        left: 1vw;
        bottom: 5vh;
        border-radius: 50%;
        font-family: FontAwesome;
        font-size: 3vh;
        line-height: 3vh;
        text-align: center;
        height: 3vh;
        width: 3vh;
        margin-top: 1vh;
        margin-bottom: 1vh;
        text-align: center;
        color: rgb(190,150,100);        
        text-align: center;;
        transition: all 0.4s ease;
    }
    #coordinates_trigger:checked + label {
        bottom: 17vh;
        transition:all 0.4s ease;
    }
    #coordinates_trigger + label:after {
        content: '\f0aa'; // fontawesome arrow up
    }
    #coordinates_trigger:checked + label:after {
        content: '\f0ab'; // fontawesome arrow down
    }
    #coordinates {
        position: fixed;
        bottom: 5vh;
        height: 5vh;
        left: 0;
        width: 100vw;
        padding-top: 1vh;
        background-color: rgb(27, 27, 27);
        box-shadow: 0 0.5vh 2vh 1vh rgba(0, 0, 0, 0.8);
        animation-name: pop;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        transition: height 0.4s;
    }
    #coordinates_trigger:checked ~ #coordinates {
        height: 17vh;
        transition: height 0.4s;        
    }
    #coordinates article {
        float: left;
        width: 30vw;
    }
    #coordinates article:first-of-type {
        margin-left: 5vw;
    }
    #coordinates article:last-of-type {
        text-align: right;
    }
    .toprow {
        font-size: 3vh;
        line-height: 3vh;
        padding-bottom: 1vh;
        border-bottom: 1px solid silver;
    }
    .fa-user {
        width: 30vw;
        text-align: center;
    }
    .connect-icons {
        display: flex;
        height: 12vh;
        justify-content: space-between;
        align-items: center;
        font-size: 3vh;
    }
    #minds-icon {
        height: 3vh;
    }
    /**************************************************************************/
    /* footer *****************************************************************/
    /**************************************************************************/
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        height: 5vh;
        width: 100vw;
        background: rgb(27,27,27);
        padding-left: 5vw;
        padding-right: 5vw;
        line-height: 5.1vh;
    }
    footer p {
        float: left;
        width: 35vw;
        border-top: 1px solid silver;
        font-size: 1.5vw;
    }
    footer p:nth-of-type(3) {
        text-align: right;
    }
    #date_time {
        color: rgb(190,150,100);
        text-align: center;
        font-weight: bold;
        width: 20vw;
    }       
    /**************************************************************************/
    /****** MIN-ASPECT-RATIO 4/3 => for all 4/3, 16/10 and 16/9 windows *******/
    /**************************************************************************/
    @media screen and (min-aspect-ratio: 4/3) {
        .contact_info {
            font-size: 2vh;
            height: 12vh;
            padding-top: 1vh;
        }
        header {
            font-size: 7vh;
        }
        .dropdownmenu {
            font-size: 3vh;
        }
        .centerpage {
            font-size: 1.8vh;
        }
        footer p {
            font-size: 2vh;
        }
    }
    /**************************************************************************/
    /****** MIN-ASPECT-RATIO 16/10 => for all widescreen windows **************/
    /**************************************************************************/
    @media screen and (min-aspect-ratio: 16/10) {
        .centerpage {
            font-size: 1.95vh;
        }
    }
    /**************************************************************************/
    /****** MIN-ASPECT-RATIO 2.1 => for cinematic widescreen windows **********/
    /**************************************************************************/
    @media screen and (min-aspect-ratio: 21/10) {
    }
    /**************************************************************************/
    /****** MAX-ASPECT-RATIO 5/4 => for portrait-type display windows *********/
    /**************************************************************************/
    @media screen and (max-aspect-ratio: 5/4) {

    }  
}