/* 
    Created on : 14-okt-2015, 8:40:02
    Author     : sven.croon
*/

@charset "utf-8";
@import "normalize.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/****** Mobile (default) ******/

/*** GENERAL ***/
* {
  font-family: "Open Sans", sans-serif;
}
html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  /* debugging
  outline: 1px solid blue;
  */
}
/* debugging
div {
  outline: 1px solid red;
}
*/
em {
  font-style: normal;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 0.2em;
}

/*** MAIN MENU ***/

.main_menu h1 {
  background-color: white;
  margin: 0;
  padding: 16px;
}
.main_menu ul {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #474747;
  color: white;
  list-style-type: none;
}
.main_menu a {
  display: inline-block;
  width: 100%;
  color: white;
  text-decoration: none;
  padding: 0.5em 16px;
}
.main_menu a:hover {
  background-color: #ececec;
  color: blue;  
}

/*** ASIDE - RECHTERKOLOM ***/

.feitenenweetjes, .tags {
  display: none;
}
.anderewerken {
  padding: 0 16px;
  background-color: #272727;
  color: white;
}
.anderewerken img {
  display: none;
}
.anderewerken a {
  color: white;
  text-decoration: none;
}
.anderewerken a:hover {
  text-decoration: underline;
}
.anderewerken h2 {
  font-weight: bolder;
  font-style: italic;
}

/*** MAIN - COLUMN LEFT ***/

.inhoud {
  padding: 0 16px;
}
.inhoud img {
  width: 100%;
}

/****** The Full Monty: all screens wider than 640 px ******/

@media only screen and (min-width: 640px) {
  
  /*** GENERAL ***/
  
  body {
    /* debugging
    outline: 1px solid green;
    */
    background-color: red;
    background-image: url(../img/rothko/rothko17.jpg);
    background-size: cover;
  }
  .wrapper {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    /* outline: 2px solid black; */
  }
  
  /*** MAIN MENU ***/
  
  .main_menu {
    background-color: #373737;
    margin: 2em 0;
  }
  .main_menu h1 {
    float: left;
    padding: 1.15em 0;
    margin: 0;
    width: 60%;
    color: white;
    background-color: inherit;
    /* outline: 2px solid blue; */
  }
  .main_menu ul {
    float: left;
    width: 40%;
    background-color: inherit;
    padding: 3em 0;
    /* outline: 2px solid red; */
  }
  .main_menu li {
    display: block;
    float: left;
    padding: 0;
    width: 20%;
  }
  .main_menu a {
    width: 100%;
    padding: 0;
    text-align: right;
  }
  .main_menu a:hover {
    background-color: inherit;
    color: blue;
  }
  
  /*** ASIDE - COLUMN RIGHT ***/
  
  .feitenenweetjes, .tags {
    display: block;
  }
  .tags ul {
    list-style-type: none;
    padding: 0;
  }
  .tags input {
    float: right;
  }
  .aside {
    float: right;
    width: 30%;
    min-height: 100%;
    height: 100%;
    /* outline: 2px solid yellow; */
    background-color: #272727;
  }
  
  /*** MAIN - COLUMN LEFT ***/
  
  .inhoud {
    box-sizing: border-box;
    width: 70%;
    min-height: 100%;
    height: 100%;
    padding: 4% 4.9%;
    margin: 0;
    /* outline: 2px solid blue; */
    background-color: white;    
  }
  .inhoud h1 {
    margin: 0;
  }
  .feitenenweetjes {
    background-color: #575757;
    color: white;
    padding: 2em;
  }
  .feitenenweetjes h2,
  .tags h2 {
    font-style: italic;
    color: white;
  }
  .tags {
    padding: 2em;
    background-color: #474747;
  }
  .tags li {
    background-color: #272727;
    padding: 0.5em 0.5em;
    margin: 1em;
    border: 1px solid #272727;
    border-radius: 10px;
  }
  .tags label,
  .tags input {
    margin: 6px;
  }
  .tags a {
    color: white;
    text-decoration: none;
  }
  .tags a:hover {
    background-color: #575757;
  }
  .anderewerken {
    background-color: #272727;
  }
  .anderewerken ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
  }
  .anderewerken li {
    text-indent: -9999px;
  }
  .anderewerken img {
    display: block;
    float: left;
    max-width: 140px;
    width: auto;
    max-height: 70px;
    overflow: hidden;
    border: 4px solid pink;
    margin: 1em;
  }
}

/*** CLEARFIX ***
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
    visibility: hidden;
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}