/* 
    Created on : 29-sep-2015, 9:34:13
    Author     : sven.croon
*/

@charset "utf-8";
@import "normalize.css";
@import url(https://fonts.googleapis.com/css?family=Oswald:700|Comfortaa:700);

body {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
input {
  background: white;
}
em {
  font-weight: bold;
  color: purple;
  font-style: normal;
}
code {
  color: firebrick;
  font-weight: bolder;
}
#login label {
  color: white;
}
#login label:before {
  content: "**";
  visibility: hidden;
}
h1 {
  font-family: oswald, sans-serif;
  margin: 0.5em 0;
  font-size: 400%;
  color: #7ea107;
}
#h1_contact {
  font-family: oswald, sans-serif;
  font-size: 300%;
  color: purple;
}
#webontwikkelaar h2 {
  font-style: italic;
}
#webontwikkelaar p {
  margin-bottom: 3em;
}
#waarom h2 {
  margin-top: 1em;
}
h2 {
  color: #7ea107;
}
#waarom ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
#waarom li {
  list-style-type: none;
}
.libull {
  float: left;
  position: relative;
  top: 1em;
  width: 2%;
}
.licontent {
  float: left;
  width: 29%;
  padding: 0 1%;
  min-height: 7em;
}
.wrapper {
  width: 80%;
  min-width: 1000px;
  margin: 0 auto;
  /* for troubleshooting outline: red 1px dashed; */
}
.band {
    border-bottom: 2px solid #dcdad8;
}
#topbar {
  background-color: #8fb209;
}
#login {
  text-align: right;
}
#aanmelden {
  color: white;
  background-color: #7ea107;
  margin: 0 0 0 1%;
}
#logomenu, #webontwikkelaar {
  background-color: #fcfaf8;
}
#logo {
  float: left;
  margin: 0.5em 0;
}
#menu {
  float: right;
  position: relative;
  top: 4.375em;
}
#menu li {
  display: inline-block;
  text-align: center;
  padding: 0 1em;
  border-right: 1px solid #dcdad8;
}
#menu li:last-child {
  padding-right: 0;
  border-right: none;
}
#menu a {
  color: #52463f;
}
a {
  color: #4c86cf;
}
#menu a:hover {
  color: #058;
}
#web-developer {
  float: right;
  max-width: 390px;
  max-height: 262px;
  width: auto;
  height: auto;
  margin: 1em 2em 1em 1em;
  border: 10px solid #E9DCE9;
  border-radius: 5%;
  transform: rotate(0.1rad) skew(-10deg) ; 
  -webkit-box-shadow: 12px 12px 12px 12px rgba(56,51,56,0.5);
  -moz-box-shadow: 12px 12px 12px 12px rgba(56,51,56,0.5);
  box-shadow: 12px 12px 12px 12px rgba(56,51,56,0.5); 
  
}
#waarom, #watwedoen, #wiewezijn {
  background-color: #ebe8e5;
}
#responsive {
  float: left;
  position: relative;
  top: -3em;
  border-width: 0.25em 0.25em;
  border-style: solid;
  border-color: #e9dce9;
  margin-right: 1em;
}
footer p:nth-child(2) {
  font-style: italic;
}
#nws_123, #nws_456, #nws_789 {
  float: left;
  width: 32%;
  padding: 0 1%
}
#nws_123 {
  padding-left: 0;
}
#nws_789 {
  padding-right: 0;
}
#html5_logo {
  float: right;
}
#php_code, #php_coders {
  float: right;
  margin: 4em 2em 2em 1em;
  border: 10px solid #E9DCE9;
  border-radius: 5%;
  transform: rotate(0.2rad);
  -webkit-box-shadow: 10px 10px 12px 12px rgba(56,51,56,0.5);
  -moz-box-shadow: 10px 10px 12px 12px rgba(56,51,56,0.5);
  box-shadow: 12px 12px 12px 12px rgba(56,51,56,0.5);
}
#php_ontwikkelaar article, #front_end_ontwikkelaar article, #front_end_ontwikkelaar img {
  float: left;
  width: 32%;
  padding: 0 1%;
}
#php_ontwikkelaar .leftcol, #front_end_ontwikkelaar .leftcol {
  padding-left: 0;
}
#php_ontwikkelaar .rightcol, #front_end_ontwikkelaar .rightcol {
  padding-right: 0;
}
#mockup {
  box-sizing: border-box;
  max-width: 75%;
  max-height: 75%;
  transform: rotate(-5deg);
  border: 10px solid #E9DCE9;
  margin: 0 1% 0 0;
  border-radius: 5%;
  -webkit-box-shadow: 10px 10px 12px 12px rgba(56,51,56,0.5);
  -moz-box-shadow: 10px 10px 12px 12px rgba(56,51,56,0.5);
  box-shadow: 12px 12px 12px 12px rgba(56,51,56,0.5);
}
#php_ontwikkelaars li {
  float: left;
  width: 20%;
  margin: 2% 3.33%;
}
#php_ontwikkelaars li:nth-child(4n+1) {
  margin-left: 0;
}
#php_ontwikkelaars li:nth-child(4n) {
  margin-right: 0;
}
#php_ontwikkelaars ul {
  list-style-type: none;
}
#php_ontwikkelaars img {
  max-width: 175px;
  max-height: 233px;
  width: 100%;
  border: 5px solid #E9DCE9;
  border-radius: 5%;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(56,51,56,0.5);
  -moz-box-shadow: 5px 5px 5px 5px rgba(56,51,56,0.5);
  box-shadow: 5px 5px 5px 5px rgba(56,51,56,0.5);
}
#php_ontwikkelaars li:nth-child(odd) img {
  transform: rotate(-10deg);
}
#php_ontwikkelaars li:nth-child(odd) p, 
#php_ontwikkelaars li:nth-child(odd) h3 {
  text-align: center;
}
#php_ontwikkelaars li:nth-child(even) img {
  transform: rotate(10deg);
}
#php_ontwikkelaars li:nth-child(even) p,
#php_ontwikkelaars li:nth-child(even) h3 {
  text-align: center;
}

/*** CLEARFIX ***
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
    visibility: hidden;
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

