/* 
    Created on : 23-mei-2016, 13:24:57
    Author     : sven.croon
*/

div.waarschuwing {
	display: none;
	background-color: yellow;
	color: red;
	border: medium solid red;
	padding: 1em;
	margin: 1em;
	width: 34em;
}
#output {
	background-color: #F5F5F5;
	padding: 1em;
	width: 34em;
}
form {
	background-color: silver;
	width: 34em;
	padding: 1em;
}
form input[type=text], form select, button {
	width: 14em;
}
button.small {
	width: 2em;
}
form label {
	display: inline-block;
	text-align: right;
	width: 4em;
	padding: 0.3em 1em;
}
label.msg {
	width: auto;
	text-align: left;
}