/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-mei-2016, 11:00:53
    Author     : sven.croon
*/

table {
    border-collapse: collapse;
    text-align: left;
}
thead {
    background-color: grey;
    font-size: 1.2em;
}
table, th, td {
    border: 1px solid black;
    padding: 0.3em;
}
td {
    font-size: 1em;
}