@charset 'utf8';
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-nov-2015, 13:29:16
    Author     : sven.croon
*/

* {
  box-sizing: border-box;
}
h1 {
  color: red;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
}
td {
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  text-align: right;
}
.colorChoiceForm {
  border: 2px solid black;
  height: 12em;
  width: 50vw;
  padding: 1em;
}
.emptyline {
  height: 2em;
}
.newline {
  clear: left;
}
.buttonLink {
  display: block;
  width: 10vw;
  font-size: 2em;
  text-align: center;
  border: 2px solid black;
  border-radius: 0.5em;
  background-color: gray;
}
.buttonLink:hover {
  border: 2px solid gray;
  background-color: lightslategray;
}
.cell {
  float: left;
  width: 3vw;
  height: 3vw;
  text-align: center;
  vertical-align: middle;
  line-height: 3vw;
  outline-style: solid;
  outline-color: black;
}
.table {
  outline-width: 1px;
}
.header {
  clear: left;
  outline-width: 2px;
}
.toprow {
  outline-width: 2px;
}
.door {
  float: left;
}
.oef7-5 {
  color: black;
}
.match  {
  float: left;
}
.luciferButton {
  float: left;
}
.removalButtons {
  height: 3em;
}
.formborder {
  float: left;
  clear: left;
  border: 1px solid black;
  padding: 1em;
  padding-top: 0;
  margin-bottom: 1em;
  max-width: 100vw;
  overflow: hidden;
}
.movielist {
    list-style-type: none;
}
.nonformattedlink {
    text-decoration: none;
}
.inlineForm {
    display: inline-block;
}
.underlined {
    max-width: 100vw;
    border-bottom: 1px solid blue;
}
.halfwidth {
    max-width: 50vw;
    padding: 1em;
}
.loginForm {
  float: left;
  clear: left;
  border: 1px solid black;
  padding: 2em;
  font-size: 1.5em;
  margin-bottom: 1em;
  max-width: 100vw;
}
.four_in_a_row_login {
  outline: 1px solid red;
  padding: 2vw;
  font-size: 3vmin;
  width: 30vw;
  margin-left: 35vw;
}
.formInput {
    display: inline-block;
    font-size: 3vmin;
    width: 14vw;
    margin-bottom: 5vh;
    height: 5vh;
}
.formLabel {
    display: inline-block;
    vertical-align: middle; 
    width: 12vw;
}
.formSubmit {
    display: block;
    width: 26vw;
    font-size: 4vmin;
    padding: 0;
}
.four_in_a_row_h1 {
    width: 100vw;
    text-align: center;
}