/* 
    Created on : 16-okt-2015, 8:54:50
    Author     : sven.croon
*/

@charset "utf-8";
@import "normalize.css";

/* * {outline: 1px solid red;} */

html, body {
  height: 100vh;
  /* outline: 1px solid yellow; */
}
* {
  box-sizing: border-box;
  /* font-family: 'Marmelad', sans-serif; */
  font-family: 'Poiret One', cursive;
  color: silver;
}
ul {
  list-style-type: none;
  margin: 0;
}
a {
  text-decoration: none;
}
.work li,
.play li {
  background-color: rgba(100,100,100,0.5);
  display: block;
  position: fixed;
  width: 12vw;
  height: 8vh;
  border: 2px solid black;
  font-size: 4vmin;
  font-weight: bold;
  font-variant: small-caps;
  text-indent: 2vw;
  line-height: 7vh;
  overflow: hidden;
  /* outline: 1px solid white; */
}
.work a,
.play a {
  display: block;
  width: 12vw;
  height: 8vh;
  outline: 2px solid green;
}
.play a {
  padding-right: 2vw;
  text-align: right;
}
.work li:first-child a,
.play li:first-child a{
  width: 15vw;
  height: 16vh;
}
.work li:hover,
.play li:hover {
  background-color: rgba(100,100,100,1);
}
.work a:hover,
.play a:hover {
  color: white;
}
.work li {
  left: 1vw;
  border-radius: 5% 30% 30% 5%;
}
.play li {
  right: 1vw;
  border-radius: 30% 5% 5% 30%;
}
.work li:first-child,
.play li:first-child{
  top: 6vh;
  width: 15vw;
  height: 16vh;
  font-size: 6vmin;
  line-height: 15vh;
}
.work li:nth-child(2),
.play li:nth-child(2) {
  top: 24vh;
}
.work li:nth-child(3),
.play li:nth-child(3) {
  top: 33vh;
}
.work li:nth-child(4),
.play li:nth-child(4) {
  top: 42vh;
}
.work li:nth-child(5),
.play li:nth-child(5) {
  top: 51vh;
}
.work li:nth-child(6),
.play li:nth-child(6) {
  top: 60vh;
}
.picture {
  width: auto;
  height: 16vh;
  position: fixed;
  left: 20vw;
  top: 6vh;
}
.picture > img {
  max-width: 100%;
  max-height: 100%;
  border: 3px solid black;
  border-radius: 5%;
}
.banner {
  position: fixed;
  top: 5vh;
  z-index: -50;
  width: 100vw;
  height: 18vh;
  background-color: rgba(30, 36, 35, 0.87);
  margin: 0;
  outline: 2px solid purple;;
}
.coordinates {
  display: block;
  position: fixed;
  left: 29vw;
  top: 6vh;
  width: 23vw;
  height: 16vh;
  outline: 1px solid red;
}
.coordinates > p {
  font-size: 1.8vmin;
  line-height: 2vmin;
}
.coordinates a {
  color: orange;
}
.titel {
  display: block;
  position: fixed;
  left: 52vw;
  top: 6vh;
  width: 28vw;
  height: 16vh;
  font-size: 3vmin;
  line-height: 8vmin;
  text-align: right;
  text-wrap: none;
  outline: 1px solid blue;

}
h1, p {
  margin: 0;
}
.center {
  position: fixed;
  left: 20vw;
  top: 25vh;
  width: 60vw;
  overflow-y: hidden;
  max-height: 75vh;
  font-size: 3vmin;
  text-align: justify;
}
.clear {
  float: left;
  width: 15vw;
  height: 10vh;
}

/*** fullscreen background and background video ***/

.video-bg { 
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: hidden;
  z-index: -100;
}
.video-bg > video {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
}
/* (1) no object-fit support */
@media (min-aspect-ratio: 16/9) {
  .video-bg > video {  
    height: 300%; /* actually taller than viewport */
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-bg > video {
    width: 300%; /* actually wider than viewport */
    left: -100%;
  }
}

/* (2)support for object-fit => overriding (1) */
@supports (object-fit: cover) {
  .video-bg > video {
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
  }
}

/* hide video background for mobile devices */

@media (max-width: 767px) {
  .video-bg {
    background: url('../img/hello.jpg') center center / cover no-repeat;
  }
  .video-bg > video {
    display: none;
  }
}


/*** CLEARFIX ***
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
  visibility: hidden;
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}
