/* 
    Created on : 16-okt-2015, 8:54:50
    Author     : sven.croon
*/

@charset "utf-8";
@import "normalize.css";

/* * {outline: 1px solid red;} */

html, body {
  min-height: 100vh;
  /* outline: 1px solid yellow; */
}
* {
  box-sizing: border-box;
  /* font-family: 'Marmelad', sans-serif; */
  font-family: 'Poiret One', cursive;
  color: silver;
}
ul {
  list-style-type: none;
  margin: 0;
}
a {
  text-decoration: none;
}
.olonly {
  display: none;
}
.work li,
.play li {
  background-color: rgba(100,100,100,0.5);
  display: block;
  position: fixed;
  width: 12vw;
  height: 60px;
  border: 1px solid black;
  font-size: 30px;
  font-weight: bold;
  font-variant: small-caps;
  line-height: 50px;
  overflow: hidden;
  /* outline: 1px solid white; */
}
.work a,
.play a {
  display: block;
  width: 12vw;
  height: 60px;
  outline: 2px solid green;
}
.work a {
  text-align: left;
  padding-left: 1.5vw;
}
.play a {
  text-align: right;
  padding-right: 1.5vw;
}
.work li:first-child a,
.play li:first-child a{
  width: 17vw;
  height: 160px;
}
.work li:hover,
.play li:hover {
  background-color: rgba(100,100,100,1);
}
.work a:hover,
.play a:hover {
  color: white;
}
.work li {
  left: 0;
  border-radius: 0 30% 30% 0;
}
.play li {
  right: 0;
  border-radius: 30% 0 0 30%;
}
.work li:first-child,
.play li:first-child{
  top: 30px;
  width: 16vw;
  height: 160px;
  font-size: 60px;
  line-height: 160px;
}
.work li:nth-child(2),
.play li:nth-child(2) {
  top: 195px;
}
.work li:nth-child(3),
.play li:nth-child(3) {
  top: 260px;
}
.work li:nth-child(4),
.play li:nth-child(4) {
  top: 325px;
}
.work li:nth-child(5),
.play li:nth-child(5) {
  top: 390px;
}
.work li:nth-child(6),
.play li:nth-child(6) {
  top: 455px;
}
.picture {
  width: auto;
  height: 160px;
  position: fixed;
  left: 18vw;
  top: 30px;
}
.picture > img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid black;
  border-radius: 5%;
}
.banner {
  position: fixed;
  top: 30px;
  z-index: -50;
  width: 100vw;
  height: 160px;
  background-color: rgba(30, 36, 35, 0.87);
  margin: 0;
  /* outline: 2px solid purple; */
}
.coordinates {
  display: block;
  position: fixed;
  left: 52vw;
  top: 30px;
  width: 30vw;
  height: 160px;
  /* outline: 1px solid red; */
}
.coordinates > p {
  font-size: 1vw;
  line-height: 1.2vw;
  text-align: right;
}
.coordinates a {
  color: orange;
}
.titel {
  display: block;
  position: fixed;
  left: calc(18vw + 120px);
  top: 30px;
  width: 24vw;
  height: 160px;
  font-size: 2.5vw;
  line-height: 53.33px;
  text-align: center;
  /* outline: 1px solid blue; */
}
h1, p {
  margin: 0;
}
.center div {
  display: none;
  position: fixed;
  background-color: rgba(30, 36, 35, 0.87);
  left: 18vw;
  top: 200px;
  width: 64vw;
  overflow-y: hidden;
  height: calc(100vh - 240px);
  font-size: 1.5vw;
  text-align: justify;
  /* outline: 1px solid yellow; */
}
.center div:target {
  display: block;
}
footer {
  display: block;
  position: fixed;
  bottom: 0;
  height: 30px;
  width: 100vw;
  background-color: rgba(30, 36, 35, 0.87);
}

/*** fullscreen background and background video ***/

.video-bg { 
  position: fixed;
  background-color: black;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: hidden;
  z-index: -100;
}
.video-bg > video {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100vh;
}
/* (1) no object-fit support */
@media (min-aspect-ratio: 16/9) {
  .video-bg > video {  
    height: 300%; /* actually taller than viewport */
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  #video_left,
  #video_right {
    width: 300%; /* actually wider than viewport */
    left: -100%;
  }
}

/* (2)support for object-fit => overriding (1) */
@supports (object-fit: cover) {
  #video_left,
  #video_right {
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
  }
}

/* hide video background for mobile devices */

@media (max-width: 767px) {
  .video-bg {
    background: url('../img/hello.jpg') center center / cover no-repeat;
  }
  #video_left,
  #video_right {
    display: none;
  }
}


/*** CLEARFIX ***
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
  visibility: hidden;
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}
