@charset "utf-8";
/* CSS Document voor De Gazet */

/* NORMALIZE */

html, body, div, section, article, aside, nav {
  margin: 0;
  padding: 0;
}

img {
  border: none;
  float: left;
  margin: 0 1.25em 0.5em 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: hide;
}

tr, td {
  margin: 0;
  padding: 0;
}

header {
  padding-top: 0.375em;
}

section, aside {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

article {
  margin: 0 20px 0 0;
  padding: 0.375em 0 1.25em;
}

article p {
  margin: 0;
  padding: 0 0 0.75em 0;
}

article h2 {
  margin: 0.375em 0;
}

/* GRID */

.span1 {
  width: 196px;
  float: left;
}

.span2 {
  width: 392px;
  float: left;
}

.span3 {
  width: 588px;
  float: left;
}

.span4 {
  width: 784px;
  float: left;
}

.span5 {
  width: 980px;
  float: left;
}

.span5 > article {
  margin-right: 0;
}

.span5 > h2 {
  margin-right: 0;
}

/* TYPOGRAPHY */
body {
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color:#005689;
}

a, a:visited {
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

/* COLOR SCHEMES */

body {
  background: white;
  color:#333;
}

#topbanner, footer {
  background: #EDEDED;
}

.nieuws h1, .nieuws h2, .nieuws h3, .nieuws h4, .nieuws h5, .nieuws h6 {
  color: #005689;  
}

nieuws.a, nieuws.a:visited, nieuws.a:hover, nieuws.a:active {
  color: #005689;
}

td, tr#weekdagen {
  text-align: right;
  font-family: monospace;
  white-space: pre-wrap;   
  font-size: large;
}

table, td, th {
  border: 1px solid black;
}

#sectionhead {
  display: none;
}

/* STRUCTURE AND LAY-OUT */

.wikkel {
  width : 980px;
  margin: 0 auto;
}

/**** ARTICLE AND SECTION LAY OUT ****/

/* obvious grey title, red upper border */
.metTitel {
  padding-top: 0;
}

.metTitel > h2 {
  background: #EDEDED;
  border-top: 3px solid #D61D00;
  margin: 0 20px 0.8em 0;
  padding: 0.8em 0 0.8em 0.4em;
}

/* hidden title, only for outline */
.zonderTitel > h2 {
  display: none;
}

article.toparticle > h2 {
  font-size: 1.5em;
}

#andernieuws article > h2 {
  font-size: 1.125em;
  margin: 0.125em;
}

/**** TOPMENU ****/

#topmenu {
  text-align: right;
}

#topmenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#topmenu ul li {
  display: inline;
}

#topmenu ul li a {
  display: inline-block;
  width: 7em;
  padding: 0.2em;
  font-size: 0.8em;
  font-style: italic;
  color: #499BAB;
  text-decoration: none;
}

#topmenu ul li a:hover, #topmenu ul li a:active {
  color: #005689;
  text-decoration: none;
}

/**** EXTRAMENU ****/

#extramenu {
  border-bottom: 1px solid #bebebe;
  height: 1.375em;
}

#extramenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#extramenu ul li {
  display: inline;
}

#extramenu ul li a {
  display: inline-block;
  font-size: 0.9em;
  padding: 0.2em;
  color: #ccc;
  text-decoration: none;
}

#extramenu ul li a:hover, #extramenu ul li a:active {
  color: #505050;
  text-decoration: none;
}

/**** MAIN MENU ***/

#hoofdmenu {
  background: #ededed;
}

#hoofdmenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

#hoofdmenu ul li {
  float: left;
}

#hoofdmenu ul li a {
  display: block;
  padding: 0.375em 0.5em;
  border-right: 1px solid #b1b1b1;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #005689;
}

#hoofdmenu ul li a:hover,
#hoofdmenu ul li a.actief {
  text-decoration: none;
  background: #D61D00;
  color: white;
}

#hoofdmenu ul li a:active {
  text-decoration: none;
  background: #ABABAB;
  color: yellow;
}

/* heet van de naald */
#heet {
  padding: 6px 0;
}

#heetvandenaald {
  font-weight: bold;
  color: #D61D00;
  padding-right: 1em;
}

/* logo image replacement
   #logo = h1 */

#logo a {
  display: block;
  width: 346px;
  height: 77px;
  margin: 14px 0 20px 0;
  padding: 0;
  background: transparent url(../img/degazet.png) no-repeat;
  text-indent: -99999px;
}

/**** BORDERS ****/
/* default color red */

.bt8 {
  border-top: 8px solid #D61D00;
}

.bt3 {
  border-top: 3px solid #D61D00;
}

.bb8 {
  border-bottom: 8px solid #D61D00;
}

.bb3 {
  border-bottom: 3px solid #D61D00;
}

/* breadrcums */
.breadcrumbs {
  list-style: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.breadcrumbs li {
  display: inline;
}
.breadcrumbs li a {
  position: relative;
  display: block;
  float: left;
  background: #E0ECF4;
  text-decoration: none;
  line-height: 40px;
  padding-left: 30px;
}
.breadcrumbs li:first-child a{
  padding-left: 10px;
}
.breadcrumbs li a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #e0ecf4;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 100%;
  z-index: 2;
}
.breadcrumbs li a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
  border-left: 23px solid white;
  position: absolute;
  top: 50%;
  margin-top: -23px;
  margin-left: 0px;
  left: 100%;
  z-index: 1;
  overflow: hidden;
}
.breadcrumbs .actief a {
  background: #005689;
  color: #fff;
}
.breadcrumbs .actief a:after {
  border-left-color: #005689;
}
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
    visibility: hidden;
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}