@charset "utf-8";
/* CSS Document voor Floats project*/
body {
	font-family: Verdana, Geneva, sans-serif;
	margin: 0;
	padding: 0;
}
div {
	/*outline:2px dashed silver;*/
	margin: 0;
	padding: 0;
}
img {
	margin-right: 1em;
  float: left;
}
.wrapper {
	width: 60%;
	margin: 0 auto;
	padding: 0;
	outline :none;
	border: none;
}
.midden { 
  background: #55C5E8;
}
.links {
	background: #55C5E8;
	padding: 1em 2.5%;
  width: 30%;
  float: left;
}
.rechts {
	background: #FD6943;
	padding: 1em 2.5%;
  width: 60%;
  float: left;
}
.sectie {
	background: #F7F7F7;
	padding: 1em;
	margin: 1em 0;
}
.thumb {
	background: #A5CB4E;
	width: 80px;
	height: 135px;
	padding: 0.625em;
	margin: 0.625em;
  float: left;
}
.header {
	background: #D93E89;
	padding: 1em 2em;
}
.footer {
	background: #F4E740;
	padding: 1em 2em;
}
.header h1 {
	font-family :Arial, Helvetica, sans-serif;
	font-size: 4em;
	color: white;
	margin:0.25em 0;
}

/* clear */
.cl { clear: both; }

/**
 **ClearFix hack**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
    visibility: hidden;
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}